MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
DATABASE_URL=
API_KEY=


# --- APP Enviro ---
APP_ENVIRO=gcp

# --- GCS Service Account ---
SA_TYPE=service_account
SA_PROJECT_ID=
SA_PRIVATE_KEY=
SA_CLIENT_MAIL=
SA_CLIENT_ID=
SA_AUTH_URI=
SA_TOKEN_URI=
SA_AUTH_PROVIDER=
SA_CERT_URL=

#Elasti config
ELASTIC_APM_SERVER_URL=
ELASTIC_APM_SERVICE_NAME=ms-bribrain-ocr-ktp-iqa-dl
ELASTIC_APM_SERVICE_VERSION=