# --- ENVIRO ---
APP_ENVIRO=

# --- API ---
API_KEY=

# --- Database ---
DATABASE_URL=

# --- MinIO ---
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_SECURE=false

# --- GCS Service Account ---
SA_TYPE=service_account
SA_PROJECT_ID=
SA_PRIVATE_KEY=
SA_CLIENT_MAIL=
SA_CLIENT_ID=
SA_AUTH_URI=https://accounts.google.com/o/oauth2/auth
SA_TOKEN_URI=https://oauth2.googleapis.com/token
SA_AUTH_PROVIDER=https://www.googleapis.com/oauth2/v1/certs
SA_CERT_URL=

# --- Elastic APM ---
ELASTIC_APM_SERVER_URL=
ELASTIC_APM_SERVICE_NAME=
ELASTIC_APM_SECRET_TOKEN=